* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /*16px = 1rem ==> 1px = 1/16rem ==> 10px = 1/16rem x 10px ==> 62.5% */
  box-sizing: border-box;
  font-family: "Work Sans", arial, sans-serif;
}

header {
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/xhero_1.jpg.pagespeed.ic.yu1ylfvph1.webp);
  background-position: center;
  background-size: cover;
}

.mobile-nav {
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: #0389ff;
}
.mobile-logo {
  background-color: #0389ff;
  padding: 2rem;
  font-size: 1.5rem;
  color: #fff;
}

.mobile-nav span::before {
  content: "";
  display: block;
  height: 0.3rem;
  width: 2.3rem;

  background-color: #fff;
  margin: 0;
  margin-top: 0.8rem;
  border-radius: 10px;
}

.mobile-nav span {
  height: 0.3rem;
  width: 2.3rem;
  background-color: #fff;
  margin: 0;
  margin-bottom: 2rem;
  margin-right: 2rem;
  border-radius: 10px;
}

.mobile-nav span::after {
  content: "";
  display: block;
  height: 0.3rem;
  width: 2.3rem;
  background-color: #fff;
  margin-top: 0.5rem;
  border-radius: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.6rem;
  height: 14rem;
  width: 85%;
  margin: auto;
  position: relative;
}

.logo {
  color: #fff;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-heading {
  position: absolute;
  left: 20.5%;
  top: 25%;
}

.hero-heading span {
  font-weight: 700;
  letter-spacing: normal;
}

header h1 {
  word-spacing: 2px;
  font-size: 3.8rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 2rem;
}
header p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
}

/* Hero buttons */
.hero-btns {
  margin-top: 4rem;
}

.hero-btns button {
  background-color: #0389ff;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 1.5rem 2rem;
  margin-right: 2rem;
  border: none;
  outline: none;
}

.hero-btns a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

/* Hero Cards */
.hero-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
  width: 75%;
}

.hero-cards .card {
  background-color: #fff;
  width: 26%;
  padding: 2rem;
  padding-bottom: 4rem;
  box-shadow: 2px 4px 9px 5px rgba(0, 0, 0, 0.09);
}

.card .icon {
  font-size: 3.6rem;
  margin-bottom: 2rem;
  color: #0389ff;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.card p {
  color: #999;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.card a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #000;
}

/* Intro Section */
.intro {
  padding: 25rem 28rem;
  padding-bottom: 10rem;
}
.intro-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-left-col {
  flex-basis: 70%;
}

.intro-right-col {
  flex-basis: 30%;
}

.intro-left-col img {
  width: 90%;
}

.intro-left-col h2 {
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.intro-right-col h2 {
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.intro-right-col .sub-headings {
  font-weight: 300;
  font-size: 1.4rem;
}

.sub-heading {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-weight: 400;
}

.sub-heading .icon {
  margin-right: 1.6rem;
}

.sub-heading-content {
  display: flex;
  margin-bottom: 2rem;
}

.sub-heading-content .bar {
  width: 20rem;
  background-color: #f8f9fa;
  margin-right: 2rem;
}

.sub-heading-content p {
  font-weight: 400;
  font-size: 1.2rem;
  color: #999;
  line-height: 1.6;
}

.sub-heading-content span {
  font-weight: 400;
  color: #000;
}

.sub-heading:first-child {
  color: #0389ff;
}

/* Stats Section */
.stats {
  background-color: #f8f9fa;
  height: 18rem;
  margin-bottom: 10rem;
}
.stats .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 18rem;
  width: 60%;
  margin: auto;
}
.stat {
  text-align: center;
}

.stat h2 {
  color: #0389ff;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}
.stat p {
  color: #999;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/* Leadership Section */
.leadership {
  padding: 0 28rem;
  margin-bottom: 10rem;
}

.leadership-row {
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.leadership h2 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 6rem;
}

.leadership-col {
  position: relative;
}
.leadership-col img {
  width: 95%;
}

.person-bio {
  background-color: #fff;
  width: 80%;
  padding: 1rem;
  padding-top: 0.8rem;
  position: absolute;
  top: 66%;
  right: 9%;
}

.person-bio h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.person-bio p {
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #999;
}

/* Customers Section */

.customers {
  padding: 0 28rem;
}

.customers h2 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 6rem;
}

.customers .quote {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.customers blockquote {
  font-size: 1.5rem;
  line-height: 1.8;
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
}

.customers p {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 8rem;
}

.customers .carousel-indicators [data-bs-target] {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #000;
  margin-right: 0.7rem;
}

.carousel-indicators {
  margin-bottom: 1rem;
}

/* .carousel-indicators button span {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #999;
  margin-right: 0.7rem;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #000;
} */

/* .customers .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.pagination span {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #999;
  margin-right: 0.7rem;
  cursor: pointer;
}

.pagination span:first-child {
  background-color: #000;
} */

/* Serivces Section */

.services {
  background-color: #f8f9fa;
  padding: 0 28rem;
  padding-bottom: 10rem;
  margin-top: 6rem;
}

.services h2 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
  padding-top: 10rem;
  margin-bottom: 6rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 6rem;
}
.service {
  text-align: center;
}

.service .service-icon {
  font-size: 3.6rem;
  margin-bottom: 1rem;
  color: #0389ff;
}

.service h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.service p {
  font-size: 1.1rem;
  color: #999;
  line-height: 1.8;
}

.services button {
  display: block;
  margin: auto;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 1.5rem 2rem;
  border: none;
  outline: none;
}

/* Blog Section */

.blog {
  padding: 0 28rem;
}

.blog h2 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
  padding-top: 8rem;
  margin-bottom: 1rem;
}

.blog p {
  font-size: 1.1rem;
  color: #999;
  text-align: center;
  width: 70%;
  line-height: 1.8;
  margin: auto;
  margin-bottom: 4rem;
}

.blog .gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 8rem;
}

.gallery-grid img {
  width: 100%;
  object-fit: cover;
}

.gallery-grid .img1 {
  width: 100%;
  height: 100%;
}

.gallery-grid .img4 {
  width: 100%;
  height: 100%;
}

.gallery-grid .img2 {
  grid-column: span 2;
}

.gallery-grid .img3 {
  grid-column: span 2;
}

/* Footer */

footer {
  padding: 0 28rem;
  background-color: #f8f9fa;
}

.footer-row {
  padding: 10rem 0;
  display: flex;
  justify-content: space-around;
}

.footer-col h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  color: #cccccc;
  margin-bottom: 1rem;
}

.footer-col:first-child p {
  color: #999;
}

.footer-col p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #000;
}

.footer-col:first-child {
  flex-basis: 30%;
}

footer .copyright {
  color: #999;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 10rem;
}

footer .colorlib {
  text-decoration: none;
  color: #0389ff;
}

footer .social-icons {
  display: flex;
  align-items: center;
  justify-content: left;
}

.social-icons .icon {
  font-size: 1.4rem;
  margin-right: 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 1400px) {
  /* Intro Section */
  .intro {
    padding: 25rem 26rem;
    padding-bottom: 10rem;
  }

  /* Leadership Section */
  .leadership {
    padding: 0 26rem;
  }

  /* Services Section */
  .services {
    padding: 0 26rem;
    padding-bottom: 10rem;
  }

  /* Blog Section */
  .blog {
    padding: 0 26rem;
  }

  /* Footer */
  footer {
    padding: 0 26rem;
  }
}

@media (max-width: 1300px) {
  /* Intro Section */
  .intro {
    padding: 25rem 22rem;
    padding-bottom: 10rem;
  }

  /* Leadership Section */
  .leadership {
    padding: 0 22rem;
  }

  /* Customers Section */
  .customers {
    padding: 0 22rem;
  }

  /* Services Section */
  .services {
    padding: 0 22rem;
    padding-bottom: 10rem;
  }

  /* Blog Section */
  .blog {
    padding: 0 22rem;
  }

  /* Footer */
  footer {
    padding: 0 22rem;
  }
}

@media (max-width: 1200px) {
  /* Intro Section */
  .intro {
    padding: 25rem 16rem;
    padding-bottom: 10rem;
  }

  /* Leadership Section */
  .leadership {
    padding: 0 16rem;
  }
  /* Customers Section */
  .customers {
    padding: 0 18rem;
  }

  /* Services Section */
  .services {
    padding: 0 16rem;
    padding-bottom: 10rem;
  }

  /* Blog Section */
  .blog {
    padding: 0 16rem;
  }

  /* Footer */
  footer {
    padding: 0 16rem;
  }
}

@media (max-width: 1024px) {
  /* Intro Section */
  .intro {
    padding: 20rem 8rem;
    padding-bottom: 10rem;
  }

  /* Hero cards */
  .hero-cards {
    justify-content: space-between;
  }

  .hero-cards .card {
    width: 25%;
  }
  .card .icon {
    font-size: 3rem;
  }
  .card h3 {
    font-size: 1.3rem;
  }

  .card p {
    font-size: 1.1rem;
  }

  /* Leadership Section */
  .leadership {
    padding: 0 8rem;
  }

  /* Customers Section */
  .customers {
    padding: 0 8rem;
  }

  /* Services Section */
  .services {
    padding: 0 8rem;
    padding-bottom: 10rem;
  }

  /* Blog Section */
  .blog {
    padding: 0 8rem;
  }

  /* Footer */
  footer {
    padding: 0 8rem;
  }
}

@media (max-width: 768px) {
  /* Header */
  .menu a {
    font-size: 1rem;
  }

  header h1 {
    font-size: 2.8rem;
  }

  header p {
    font-size: 1.2rem;
  }
  /* Hero cards */
  .hero-cards {
    justify-content: space-between;
  }

  .hero-cards .card {
    width: 25%;
  }
  .card .icon {
    font-size: 3rem;
  }
  .card h3 {
    font-size: 1.3rem;
  }

  .card p {
    font-size: 1.1rem;
  }

  /* Intro Section */
  .intro {
    padding: 20rem 8rem;
    padding-bottom: 10rem;
  }

  .intro-row {
    display: flex;
    flex-direction: column;
  }

  .intro-left-col {
    flex-basis: 100%;
  }

  .intro-left-col img {
    width: 100%;
  }

  .intro-right-col {
    flex-basis: 100%;
  }

  .sub-heading-content .bar {
    width: 8rem;
  }

  /* Stats Section */
  .stats {
    height: 18rem;
    padding: 10rem 0;
  }

  .stats .container {
    flex-direction: column;
    gap: 4rem;
  }

  /* Leadership Section */
  .leadership {
    padding: 0 8rem;
  }

  .leadership-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    /* row-gap: 3rem; */
  }

  .leadership-col img {
    width: 100%;
    height: 38rem;
    object-fit: cover;
  }

  .person-bio {
    width: 87%;
    right: 3%;
    top: 76%;
  }

  /* Customers Section */
  .customers {
    padding: 0 8rem;
  }

  /* Services Section */
  .services {
    padding: 0 8rem;
    padding-bottom: 10rem;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  /* Blog Section */
  .blog {
    padding: 0 8rem;
  }

  .blog p {
    width: 80%;
  }

  /* Footer */
  footer {
    padding: 0 8rem;
  }

  .footer-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}

@media (max-width: 586px) {
  /* Header */
  nav {
    justify-content: space-between;
  }
  .menu a {
    font-size: 1rem;
    padding: 0.8rem 0.5rem;
  }

  .hero-heading {
    left: 10%;
  }

  header h1 {
    font-size: 2.8rem;
  }

  header p {
    font-size: 1.2rem;
  }

  /* Hero cards */
  .hero-cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 81%;
  }

  .hero-cards .card {
    width: 100%;
  }

  .hero-cards .card:first-child h3,
  .hero-cards .card:first-child p,
  .hero-cards .card:first-child a {
    display: none;
  }

  .hero-cards .card:nth-child(2) h3,
  .hero-cards .card:nth-child(2) p,
  .hero-cards .card:nth-child(2) a {
    display: none;
  }

  .hero-cards .card:first-child,
  .hero-cards .card:nth-child(2) {
    padding-bottom: 0;
  }

  .hero-cards .card:first-child .icon,
  .hero-cards .card:nth-child(2) .icon {
    margin-bottom: 0.4rem;
  }

  .card .icon {
    font-size: 2.6rem;
  }
  .card h3 {
    font-size: 1.3rem;
  }

  .card p {
    font-size: 1.1rem;
  }

  /* Intro Section */
  .intro {
    padding: 25rem 6rem;
    padding-bottom: 10rem;
  }

  .intro-row {
    display: flex;
    flex-direction: column;
  }

  .intro-left-col {
    flex-basis: 100%;
  }

  .intro-left-col img {
    width: 100%;
  }

  .intro-right-col {
    flex-basis: 100%;
  }

  .sub-heading-content .bar {
    width: 8rem;
  }

  /* Stats Section */
  .stats {
    height: 18rem;
    padding: 10rem 0;
  }

  .stats .container {
    flex-direction: column;
    gap: 4rem;
  }

  /* Leadership Section */
  .leadership {
    padding: 0 6rem;
  }

  .leadership-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .leadership-col img {
    width: 100%;
    height: 32rem;
    object-fit: cover;
  }

  .person-bio {
    padding: 0.8rem;
    width: 80%;
    right: 7%;
    top: 74%;
  }

  .person-bio h3 {
    margin: 1rem 0;
  }

  .person-bio p {
    margin: 0;
  }

  /* Customers Section */
  .customers {
    padding: 0 5rem;
  }

  /* Services Section */
  .services {
    padding: 0 6rem;
    padding-bottom: 10rem;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  /* Blog Section */
  .blog {
    padding: 0 6rem;
  }

  .blog p {
    width: 100%;
  }

  /* Footer */
  footer {
    padding: 0 6rem;
  }

  .footer-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}

/* MEDIA QUERIES FOR MOBILE SCREENS */

@media (max-width: 425px) {
  /* Mobile nav */
  .mobile-nav {
    display: flex;
  }
  /* Main nav */
  nav {
    display: none;
  }
  .menu a {
    font-size: 1rem;
    padding: 0.8rem 0.5rem;
  }

  .hero-heading {
    left: 4.5%;
    top: 20%;
  }

  header h1 {
    font-size: 2.8rem;
  }

  header p {
    font-size: 1.2rem;
  }

  /* Hero cards */
  .hero-cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 85.1%;
  }

  .hero-cards .card {
    width: 100%;
  }

  .hero-cards .card:first-child h3,
  .hero-cards .card:first-child p,
  .hero-cards .card:first-child a {
    display: none;
  }

  .hero-cards .card:nth-child(2) h3,
  .hero-cards .card:nth-child(2) p,
  .hero-cards .card:nth-child(2) a {
    display: none;
  }

  .hero-cards .card:first-child,
  .hero-cards .card:nth-child(2) {
    padding-bottom: 0;
  }

  .hero-cards .card:first-child .icon,
  .hero-cards .card:nth-child(2) .icon {
    margin-bottom: 0.4rem;
  }
  .card .icon {
    font-size: 2.4rem;
  }
  .card h3 {
    font-size: 1.3rem;
  }

  .card p {
    font-size: 1.1rem;
  }

  /* Intro Section */
  .intro {
    padding: 20rem 2rem;
    padding-bottom: 10rem;
  }

  .intro-row {
    display: flex;
    flex-direction: column;
  }

  .intro-left-col {
    flex-basis: 100%;
  }

  .intro-left-col img {
    width: 100%;
  }

  .intro-right-col {
    flex-basis: 100%;
  }

  .sub-heading-content .bar {
    width: 8rem;
  }

  /* Stats Section */
  .stats {
    height: 18rem;
    padding: 10rem 0;
  }

  .stats .container {
    flex-direction: column;
    gap: 4rem;
  }

  /* Leadership Section */
  .leadership {
    padding: 0 2rem;
  }

  .leadership-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .leadership-col img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }

  .person-bio {
    padding: 0.8rem;
    width: 69%;
    right: 11%;
    top: 67%;
  }

  .person-bio h3 {
    margin: 1rem 0;
  }

  .person-bio p {
    margin: 0;
  }

  /* Customers Section */
  .customers {
    padding: 0 3rem;
  }

  /* Services Section */
  .services {
    padding: 0 2rem;
    padding-bottom: 10rem;
  }

  .services-grid {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  /* Blog Section */
  .blog {
    padding: 0;
  }

  .blog p {
    width: 95%;
  }

  .blog .gallery-grid {
    grid-template-columns: 1fr;
  }

  /* Footer */
  footer {
    padding: 0 2rem;
  }

  .footer-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 375px) {
  /* Mobile nav */
  .mobile-nav {
    display: flex;
  }

  /* Main nav */
  nav {
    display: none;
  }
  .menu a {
    font-size: 1rem;
    padding: 0.8rem 0.5rem;
  }

  .hero-heading {
    left: 5.4%;
    top: 20%;
  }

  .hero-heading p .break {
    display: none;
  }

  header h1 {
    font-size: 2.8rem;
  }

  header p {
    font-size: 1.2rem;
  }

  /* Hero cards */
  .hero-cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 83%;
  }

  .hero-cards .card {
    width: 100%;
  }

  .hero-cards .card:first-child h3,
  .hero-cards .card:first-child p,
  .hero-cards .card:first-child a {
    display: none;
  }

  .hero-cards .card:nth-child(2) h3,
  .hero-cards .card:nth-child(2) p,
  .hero-cards .card:nth-child(2) a {
    display: none;
  }

  .hero-cards .card:first-child,
  .hero-cards .card:nth-child(2) {
    padding-bottom: 0;
  }

  .hero-cards .card:first-child .icon,
  .hero-cards .card:nth-child(2) .icon {
    margin-bottom: 0.4rem;
  }
  .card .icon {
    font-size: 2.4rem;
  }
  .card h3 {
    font-size: 1.3rem;
  }

  .card p {
    font-size: 1.1rem;
  }

  /* Intro Section */
  .intro {
    padding: 20rem 2rem;
    padding-bottom: 10rem;
  }

  .intro-row {
    display: flex;
    flex-direction: column;
  }

  .intro-left-col {
    flex-basis: 100%;
  }

  .intro-left-col img {
    width: 100%;
  }

  .intro-right-col {
    flex-basis: 100%;
  }

  .sub-heading-content .bar {
    width: 8rem;
  }

  /* Stats Section */
  .stats {
    height: 18rem;
    padding: 10rem 0;
  }

  .stats .container {
    flex-direction: column;
    gap: 4rem;
  }

  /* Leadership Section */
  .leadership {
    padding: 0 2rem;
  }

  .leadership-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .leadership-col img {
    width: 100%;
  }

  .person-bio {
    padding: 0.8rem;
    width: 80%;
    right: 5%;
    top: 70%;
  }

  .person-bio h3 {
    margin: 1rem 0;
  }

  .person-bio p {
    margin: 0;
  }

  /* Customers Section */
  .customers {
    padding: 0 1rem;
  }

  /* Services Section */
  .services {
    padding: 0 2rem;
    padding-bottom: 10rem;
  }

  .services-grid {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  /* Blog Section */
  .blog {
    padding: 0;
  }

  .blog p {
    width: 95%;
  }

  .blog .gallery-grid {
    grid-template-columns: 1fr;
  }

  /* Footer */
  footer {
    padding: 0 2rem;
  }

  .footer-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 320px) {
  /* Mobile nav */
  .mobile-nav {
    display: flex;
  }

  /* Main nav */
  nav {
    display: none;
  }

  .menu a {
    font-size: 1rem;
    padding: 0.8rem 0.5rem;
  }

  .hero-heading {
    left: 3.2%;
    top: 20%;
  }

  .hero-heading p .break {
    display: none;
  }

  header h1 {
    font-size: 2.4rem;
  }

  header p {
    font-size: 1.1rem;
  }

  /* Hero cards */
  .hero-cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 84%;
  }

  .hero-cards .card {
    width: 100%;
  }

  .hero-cards .card:first-child h3,
  .hero-cards .card:first-child p,
  .hero-cards .card:first-child a {
    display: none;
  }

  .hero-cards .card:nth-child(2) h3,
  .hero-cards .card:nth-child(2) p,
  .hero-cards .card:nth-child(2) a {
    display: none;
  }

  .hero-cards .card:first-child,
  .hero-cards .card:nth-child(2) {
    padding-bottom: 0;
  }

  .hero-cards .card:first-child .icon,
  .hero-cards .card:nth-child(2) .icon {
    margin-bottom: 0.4rem;
  }

  .card .icon {
    font-size: 2.4rem;
  }
  .card h3 {
    font-size: 1.3rem;
  }

  .card p {
    font-size: 1.1rem;
  }

  /* Intro Section */
  .intro {
    padding: 20rem 1rem;
    padding-bottom: 10rem;
  }

  .intro-row {
    display: flex;
    flex-direction: column;
  }

  .intro-left-col {
    flex-basis: 100%;
  }

  .intro-left-col img {
    width: 100%;
  }

  .intro-right-col {
    flex-basis: 100%;
  }

  .sub-heading-content .bar {
    width: 8rem;
  }

  /* Stats Section */
  .stats {
    height: 18rem;
    padding: 10rem 0;
  }

  .stats .container {
    flex-direction: column;
    gap: 4rem;
  }

  /* Leadership Section */
  .leadership {
    padding: 0 1rem;
  }

  .leadership-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .leadership-col img {
    width: 100%;
  }

  .person-bio {
    padding: 0.8rem;
    width: 80%;
    right: 4%;
    top: 71%;
  }

  .person-bio h3 {
    margin: 1rem 0;
  }

  .person-bio p {
    margin: 0;
  }

  /* Customers Section */
  .customers {
    padding: 0 1rem;
  }

  .customers blockquote,
  .customers p {
    font-size: 1.4rem;
  }

  /* Services Section */
  .services {
    padding: 0 2rem;
    padding-bottom: 10rem;
  }

  .services-grid {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  /* Blog Section */
  .blog {
    padding: 0;
  }

  .blog p {
    width: 90%;
  }

  .blog .gallery-grid {
    grid-template-columns: 1fr;
  }

  /* Footer */
  footer {
    padding: 0 1rem;
  }

  .footer-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
